.container{
    background-color: rgb(239, 239, 239);
   


    .navbar{
        display: flex;
        padding: 0 50px;
        align-items: center;
        justify-content: space-between;
        

        .logo img{
            width: 70px;

        }
    }




.user {
    display: flex;
    align-items: center;

    .user_image img{
        width: 50px;
        border-radius: 50%;
    }
    .user_info {
        padding-right: 8px;
    }
  }
}